.welcome {
   margin: auto !important;
}

 .card {
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 }

 .panel {
    color: #fff;
 }

 #auth, .home, .my_hood, .searchbuzz {
    background: url("/static/images/home.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 .hood {
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
 }
/* 
 .my_hood {
    background: url("/static/images/home.jpg");
 } */
 
 .moveText:hover {
   -webkit-transform: scale(1.1);
 }

 .about, .hood, .business {
    background: rgba(245, 248, 245, 0.4);
    padding: 10px;
    margin: 0 auto;
 }

 .info {
    background-color: #fff;
    padding: 15px
 }

 .collapse {
    display: flex;
    justify-content: flex-end;
    float: right;
 }