{% extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}


<div class="container-fluid my_hood">
    <div class="pt-1">
        <div class="text-left">
            <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal"
                data-target="#postModal">Create Post</button>
            {% if request.user.profile.neighborhood == neighborhood %}
            <a href="{% url 'leave_neighborhood' neighborhood.id %}" class="btn btn-outline-danger btn-sm" id="leave">Leave {{neighborhood.name}}</a>
            {% endif %}
        </div>
        <h2 class="text-center" style="color: #334d75;">{{neighborhood.name}} Neighborhood</h2>
    
        <div class="row">
            <div class="col-md-3 about">
                <h4 class="pl-5">About {{neighborhood.name}}</h4>
                <hr class="bg-primary">
                <div class="info">
                    <p>Police Contact: <strong>{{neighborhood.police_info}}</strong></p>
                    <p>Hospital Contact: <strong>{{neighborhood.hospital_info}}</strong></p>
                    <p>Admin: <strong>{{neighborhood.admin.user}}</strong></p>
                    <hr>
                    <br>
                    <h5><strong>{{neighborhood.name}} Members</strong></h5>
                    {% if users %}
                    {% for user in users %}
                    <h6>{{ user.user.first_name }} {{ user.user.last_name }}</h6>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-5 hood p-3">
                <img src="{{neighborhood.photo.url}}" class="card-img-top" alt="neighborhood photo" style="height:350px">
                <br><br>
                <hr>
                <div class="posts">
                    <h4 class="">Posts</h4>

                    <hr class="bg-primary">
                    {% if posts %}
                    {% for post in posts %}
                    <div class="card mb-1">
                        <div class="card-header">
                            <p class="mb-0"><strong>{{post.user}}</strong></p>
                            <p class="mt-0">{{post.date_posted}}</p>
                            <h5 class="text-center">{{post.title}}</h5>
                            <br>
                            <p>{{post.description}}</p>
                        </div>
                        {% if post.photo.url %}
                        <div class="card-body">
                            <img src="{{post.photo.url}}" class="card-img-top" alt="photo" style="height: 50%">
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="text-center">
                        No Posts Available.
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 business">
                <div class="row pl-5">
                    <h4 class="text-center">{{neighborhood.name}} Business</h4>
                    <button type="button" class="btn btn-primary btn-sm ml-1" data-toggle="modal"
                        data-target="#businessModal">Add Business</button>
                </div>
                <hr class="bg-primary">
                {% if business %}
                {% for business in business %}
                <div class="card-deck mb-3">
                    <div class="card mb-0">
                        <div class="card-header">
                            <h4 class="text-center">{{ business.name }}</h4>
                        </div>
                        <div class="card-body">
                            <img src="{{business.photo.url}}" class="card-img-top" alt="neighborhood photo">
                            <p class="pl-2">{{ business.description }}</p>
                        </div>
                        <div class="card-footer">
                            <p>Owner: <strong>{{ business.owner }}</strong></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="text-center">
                    No Registered Business Yet.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- business modal -->
<div class="modal fade" tabindex="-1" id="businessModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Business</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form business_form %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- post modal -->
<div class="modal fade" tabindex="-1" id="postModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form post_form %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
          
    $('#leave').on('click', function () {
        return confirm('Are you sure you want to leave {{neighborhood.name}}?');
    });
</script> 


{% endblock %}