{% extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}


<div class="container">
    <div class="text-left">
        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
            data-target="#businessModal">Add Business</button>
        <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal"
            data-target="#postModal">Create Post</button>
        {% if request.user.profile.neighborhood == neighborhood %}
        <a href="{% url 'leave_neighborhood' neighborhood.id %}" class="btn btn-outline-danger btn-sm">Leave {{neighborhood.name}}</a>
        {% endif %}
    </div>
    <h2 class="text-center">{{neighborhood.name}} Neighborhood</h2>

    <div class="row">
        <div class="col-md-3">
            <h4>About {{neighborhood.name}}</h4>
            <hr>
            <p>Police Contact: {{neighborhood.police_info}}</p>
            <p>Hospital Contact: {{neighborhood.hospital_info}}</p>
            <h5>{{neighborhood.name}} Members</h5>
            {% if users %}
            {% for user in users %}
            <h6>{{ user.first_name }} {{ user.last_name }}</h6>
        </div>
        <div class="col-md-6">
            <img src="{{neighborhood.photo.url}}" class="card-img-top" alt="neighborhood photo">
        </div>
        <div class="col-md-3">
            <h4>{{neighborhood.name}} Business</h4>
            {% if business %}
            {% for business in business %}
            <h4>{{ business.name }}</h4>
            <img src="{{business.photo.url}}" class="card-img-top" alt="neighborhood photo">
            <p>{{ business.description }}</p>
            <p><strong>{{ business.owner }}</strong></p>
        </div>
    </div>
</div>

<!-- business modal -->
<div class="modal fade" tabindex="-1" id="businessModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Business</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form business_form %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- post modal -->
<div class="modal fade" tabindex="-1" id="postModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form post_form %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}