{% load bootstrap4 %}

<nav class="navbar sticky-top navbar-expand-md navbar-light py-4" style="background-color: #1188be;">
  <a class="navbar-brand moveText" href="{% url 'neighborhood' %}" style="color: #cfc8c8;">Neighborhood</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      {% if user.profile.neighborhood %}
      <li class="nav-item">
        <a class="nav-link moveText text-uppercase" style="color: #cfc8c8;"
          href="{% url 'my_neighborhood' user.profile.neighborhood.id %}">{{user.profile.neighborhood.name}}</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <div class="nav-item dropdown">
          {% if not request.user.profile.neighborhood %}
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" onMouseOver="this.style.background='#0c547b'" onMouseOut="this.style.background='#1188be'" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: #cfc8c8;">
            Join Neighborhood
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for neighborhood in neighborhoods %}
            <a class="dropdown-item" href="{% url 'join_neighborhood' neighborhood.id %}">{{neighborhood.name}}</a>
            {% endfor %}
          </div>
        </div>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-otline-primary" onMouseOver="this.style.background='#0c547b'" onMouseOut="this.style.background='#1188be'" data-toggle="modal"
            data-target="#hoodModal" style="color: #cfc8c8;">Add Neighborhood</button>
      </li>
      {% endif %}
    </ul>
    {% if user.profile.neighborhood %}
    <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search business in {{user.profile.neighborhood.name}}" name="name" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0 mr-5" type="submit">Search</button>
    </form>
    {% endif %}
    {% if user.profile.profile_picture %}
    <a href="/profile"><img src="{{user.profile.profile_picture.url}}" alt="{{user.username}}"
        style="height: 50px; width:50px; border-radius:50%" class="rounded-circle account-img">
      <!-- <p class="text-center">{{user.username|title}}</p> -->
    </a>
    {% else %}
    <a href="/profile"><i style="font-size:50px;color:#cbd7e0" class="fa fa-user" aria-hidden="true"></i>
      <!-- <p class="text-center">{{user.username|title}}</p> -->
    </a>
    {% endif %}

    <a href="/logout" class="btn btn-danger ml-2">Logout</a>

    {% else %}
    <div class="authenticate mr-2">

      <a class="navbar-brand moveText" href="{% url 'admin:index' %}"> Admin</a>

      <a class='btn btn-primary' href="/accounts/login">Login</a>

      <a href="/register" class="btn btn-dark">Register</a>
    </div>

    {% endif %}
  </div>
</nav>


<div class="modal fade" tabindex="-1" id="hoodModal" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Add Neighborhood</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% bootstrap_form form %}
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
              </form>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>
