{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<div class="container-fluid" style="background-color: #2aa5e8;; min-height: 84vh;">
    <div class="container">
        <div class="row mb-4 pt-4">
            <div class="col-md-3"></div>

            <div class="col-md-6 m-auto">
                <div class="row bg-light pt-3">
                    <div class = "col-md-6">
                        {% if user.profile.profile_picture.url %}
                        <img src="{{user.profile.profile_picture.url}}" alt="{{user.username}}"
                        style="height: 200px; width:200px; border-radius:50%" class="rounded-circle account-img">
                        {% else %}
                        <i style="font-size:100px;color:#cbd7e0" class="fa fa-user" aria-hidden="true"></i>
                        {% endif %}
    
                    </div>
                    
                    <div class="col-md-6 text-left"><br>
                        <h3 class="text-monospace text-left mb-0">{{user.first_name}} {{user.last_name}}</h3>
                        <p class="mt-0"><strong>Email:</strong> <em>{{user.profile.email}}</em></p>
                        <p class="text-left">{{user.profile.bio}}</p>
                        {% if user.profile.neighborhood %}
                        <p><strong>Neighborhood:</strong> {{user.profile.neighborhood.name}}</p>
                        {% endif %}
                        <button type="button" class="btn btn-outline-light btn-sm" data-toggle="modal"
                            data-target="#profileModal">Edit Profile</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="profileModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form profile_form %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}